@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*, *::before,*::after {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  font-size: 11px;
  box-sizing: border-box;
}
@media print {
  @page {size: A5 portrait;}
  .page{
    page-break-after: always;
    border: none !important;
  }
}

body {
  -webkit-print-color-adjust: exact !important;
  -moz-print-color-adjust: exact !important;
  width: 148mm;
  min-height: 100vh;
}
h3 {
  margin: 0 auto;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
h4 {
  margin: 0;
  padding: 5px 0;
  font-style: italic;
  text-align: left;
  color: gray;
}

label {
  margin: 0;
  font-weight: 400;
  color: #6A6A6A;
  font-size: 11px;
}

input, textarea {
  border: none;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px
}

input:focus, textarea:focus { outline: none; }

/*Select2 setting*/
select { width: 100%; }
.select2-container--default .select2-selection--single{
    background-color: transparent;
}

.select2-selection__rendered {
    line-height: 20px !important;
}
.select2-container .select2-selection--single {
    height: 24px !important;
}
.select2-selection__arrow {
    height: 22px !important;
}
/*give line*/
textarea {
  background-attachment: local;
  background-image:
    linear-gradient(right, transparent 10px, transparent 10px),
    linear-gradient(left, transparent 10px, transparent 10px),
    repeating-linear-gradient(transparent, transparent 19px, #ccc 19px, #ccc 20px, transparent 20px);
  background-image:
    -webkit-linear-gradient(right, transparent 10px, transparent 10px),
    -webkit-linear-gradient(left, transparent 10px, transparent 10px),
    -webkit-linear-gradient(transparent, transparent 19px, #ccc 19px, #ccc 20px, transparent 20px);
  background-image:
    -moz-linear-gradient(right, transparent 10px, transparent 10px),
    -moz-linear-gradient(left, transparent 10px, transparent 10px),
    -moz-linear-gradient(transparent, transparent 19px, #ccc 19px, #ccc 20px, transparent 20px);
  background-size: 100% 100%, 100% 100%, 100% 21px;
  line-height: 20px;
  padding: 5px 0;
  width: 100%;
  height: auto;
  resize: none;
 }

[type="text"], #age {
  text-transform: uppercase;
  width: 100%;
  border-bottom: 1px solid #cccccc
}

/*remove button for number input*/
[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

[type="checkbox"] {
  min-width: 13.5px !important;
  min-height: 13.5px;
}
/*Base Formatting*/
.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  width: 100%;
}
.column {
  height: auto;
  display: flex;
  flex-flow: column wrap;
  flex: auto;
  align-items: stretch;
  margin: 0;
}
.page {
  max-width: 148mm;
  height: 210mm;
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  position: relative;
}
.container {
  border: 5px solid limegreen;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex: 1;
  margin: 5px;
  padding: 5px;
  z-index: 1
}
.cell {
  width: 100%;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px;
}
/*Bio*/
.bio {
  padding: 10px 5px 5px 5px !important;
}

.bio .row {
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0;
}
.bio .cell {
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 0 5px 5px 5px!important;
}

.bio > div > div:last-child, { align-items: flex-end !important; }

.bio label {padding-top: 5px;}

#description { padding: 5px 10px;}
/*Stats Column*/
#myChart { max-width: 225px;}
#statistics .row {
  justify-content: flex-start;
  flex-flow: row wrap;
}

.statNum {
  width: 
  height: 40px !important;
  border-radius: 50%;
  border: 3.5px solid #000;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  background-color: #fff;
  z-index: 2;
}
.ribbon {
  width: 100%;
  min-width: 100px;
  border-left: 0;
  border-radius: 0 15px 15px 0;
  transform: translateX(-5px);
}
.ribbon span {
  padding-left: 10px;
  text-align: center;
  color: #fff;
  font-weight: 500;
}

#str { border-color: #ED1C24; }
#strength { background-color: #ED1C24; }

#dex { border-color: #0071BC; }
#dexterity { background-color: #0071BC; }

#con { border-color: #8CC63F; }
#constitution { background-color: #8CC63F; }

#int { border-color: #F7931E; }
#intelligence { background-color: #F7931E; }

#wis { border-color: #93278F; }
#wisdom { background-color: #93278F; }

#cha { border-color: #ED1E79; }
#charisma { background-color: #ED1E79; }

/*Proficiency*/
.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 11.6px solid #000;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: -11.6px;
}
/*HEX SHAPE*/
.hex {
    width: 40px;
    height: 23px;
    background-color: #000;
    position: relative;
    z-index: 1;
    vertical-align: middle;
  }

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -11.6px;
    border-top: 11.6px solid #000;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
.hex.inner {
    background-color: #fff;
    -webkit-transform: scale(.85, .85);
    -moz-transform: scale(.85, .85);
    transform: scale(.85, .85);
    z-index: 2;
    margin: 0;
}
.hex.inner:before {
    border-bottom: 11.6px solid #fff;
}
.hex.inner:after {
    border-top: 11.6px solid #fff;
}
/*shield*/
#level,
#profMod,
#p_percept,
#armour,
#initiative {
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  position: absolute;
  z-index: 5;
}
#armour {
 max-width: 33px;
 max-height: 33px;
 background-color: transparent;
}
.shield {
    min-width: 40px;
    max-width: 40x;
    height: 40px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 50% 50% 50% 50% / 25% 25% 75% 75%;
    z-index: 1;
}
#initiative {
  min-width: 40px !important;
  max-width: 40px;
  height:40px !important;
  border-radius: 20%;
  border: 3px solid #000;
  position: relative;
}
#level_label,
#prof_label,
#p_percept_label,
#armour_label,
#initiative_label {
  background-color: #6A6A6A;
  width: auto;

}
/*Skills*/
.skill {
  margin-left: 10px;
  border-left: 2px solid #ccc;
  align-items: center;
  padding: 0 5px;
}
.skill div:not(.mod) { margin: 0; }

.mod {
  font-weight: 500;
  text-align: center;
  min-width: 25px !important;
  height: auto;
  margin: 0 5px;
  border-bottom: 2px solid #cccccc;
}

#alert {
  color: red;
  font-weight: bold;
  display: none;
}

/*Personality*/
table { border: none; margin: 10px auto; }
th { text-align: center; padding: 5px; }
td { padding: 0 5px; }
td:first-child { text-align: right; }


/*Picture*/
.drag-image {
  overflow: hidden;
  font-weight: 300;
  color: #ddd;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column wrap;
}

.drag-image button {
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s
}
.drag-image button:hover {
    background-color: #1865CC;
    color: #fff;
}
.drag-image img {
    height: 100%;
    width: auto;
    object-fit: cover;
}
.drag-image h6 { font-weight: 300;}

.portrait {
  margin: auto 15px 10px 15px;
  width: 143mm;
  height: 88%;
  background-color: #fff;
  background-color: transparent;
  left: 0;
  bottom: 0;
  z-index: 0;
  position: absolute;
  justify-content: flex-end;
  align-content: flex-end;
  border: 2px dashed #ccc;
  border-radius: 10px;
}
.portrait img {
  right: 20px;
  position: absolute;
}
.portrait h6 {
  font-size: 20px;
  margin: 75px 50px 75px auto;
}
.portrait button {
  padding: 10px 25px;
  font-size: 14px;
  margin-right: 60px;
  margin-top: 0
}
.portrait .icon {
  margin-bottom: 0 !important;
}
.portrait .icon i {
  font-size: 50px !important;
    margin-right: 50px;
}

.abil {
  min-width: 100px;
  min-height: 100px;
  margin: 0;
 }
.abil button {
  width: 100% !important;
  font-size: 14px;
}
.abil .icon i { font-size: 20px !important; }

#abilities .column { align-items: flex-start; }
#abilities .cell {
  padding: 0;
  align-items: flex-start !important;
}
#abilities .container {
  border-radius: 50%;
  margin: 0 5px 0 8px;
  min-width: 30px !important;
  min-height: 30px !important;
}
#abilities [type="text"]{ margin-right: 8px; }
