@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  font-size: 11px;
}
body {
  -webkit-print-color-adjust: exact !important;
  width: 210mm;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center
}
h3 {
  margin: 0 auto;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
h4 {
  margin: 0;
  padding: 5px 0;
  font-style: italic;
  text-align: left;
  color: gray;
}
a { margin: 0; }
span {
  margin: 0;
  width: 100%;
  vertical-align: middle;
}
label { margin: 0; font-weight: bold; }
#bio label { padding-right: 5px; }

input, textarea {
  border: none;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
}

select { width: 100% !important; }

input:focus, textarea:focus { outline: none; }

/*give line*/
[type="text"], #age, textarea {
  background-attachment: local;
  background-image:
    linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
  line-height: 31px;
  width: 100%;
 }
textarea { resize: none !important; }

[type="text"] {text-transform: uppercase;}
[type="number"] { max-width: 150px; }


/*Base Formatting*/
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  margin: 0;
}
.column {
  height: auto;
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  align-items: stretch;
  margin: 0;
}
.container {
  min-width: 100px !important;
  border: 2px solid black;
  border-radius: 10px;
  border-collapse: collapse;
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  margin: 5px;
  padding: 5px;
}
.cell {
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px;
}

/*Colour Palette*/
#palette {
  margin: 0;
  position: relative !important;
  z-index: 5;
}
#palette div {
  margin: 10px 2.5px;
  border-radius: 50%;
  border: 2px solid black;
  border-collapse: collapse;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
#palette div:hover { background-color: #1865CC;}
#color {
  border: 0;
  outline: 0;
  padding: 0;
  width: 200%;
  height: 200%;
  cursor: pointer;
  transform: translate(-25%, -25%);
}
/*Age Input setting*/
#age::-webkit-inner-spin-button,
#age::-webkit-outer-spin-button {
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-appearance: none;
}
/*Stats Column*/
#myChart { max-width: 200px;}
.stats, .stat {
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.stat { position: relative; }
.statIcon {
  max-width: 45px;
  max-height: 45px;
  padding: 5px;
  z-index: -1;
  opacity: 0.35;
  position: absolute;
}
.statNum {
  max-width: 50px !important;
  height: 50px!important;
  font-size: 20px;
  text-align: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
}
.statNum::-webkit-inner-spin-button,
.statNum::-webkit-outer-spin-button {
  height: 100%;
  position: absolute;
  top: 0; right: 0;
}

/*Proficiency*/
#prof {
  max-width: 40px !important;
  height: 40px!important;
  font-size: 20px;
  text-align: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  border-radius: 50%;
}
#prof::-webkit-inner-spin-button,
#prof::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}



/*Personality*/
table { border: none; margin: 10px auto; }
th { text-align: center; padding: 5px; }
td { padding: 0 5px; }
td:first-child { text-align: right; }


.skill {
  display: inline-block !important;
  vertical-align: middle;
  width: auto;
  padding: 0;
}
.myCheck { vertical-align: middle; }
.skill span {
  font-size: 15px;
  font-weight: bold;
  padding: 0 10px;
}
#alert {
  color: red;
  font-weight: bold;
  display: none;
}

/*Picture*/
.drag-image {
    border: 2px solid black;
    margin: 5px;
    height: 250px;
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    color: #ddd
}

.icon { margin: auto auto 0 auto; }

.icon i { font-size: 30px !important; }

.drag-image h6 {
    font-size: 20px;
    font-weight: 300;
}

.drag-image span {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.drag-image button {
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 300;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s
}

.drag-image button:hover {
    background-color: #1865CC;
    color: #fff;
}

.drag-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px
}
